                                                /* GLOBALS */
body{
    font-family: "Langar", cursive;
    text-align-all: center;
    font-size: xx-large;
    background-color: ghostwhite;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container{
    width: 90%;
}

                                                /* FONTS */
h1, h2, h3{
    margin: 0;
}

h2{
    display: inline-block;
    width: 45%;
    font-size: 0.9em;
}

h3{
    display: inline-block;
    font-size: 0.8em;
}

ul{
    padding-left: 0;
}



                                                /* HEADER AREA */
header{
    font-size: xx-large;
    width: 90%;
    margin: 0 auto;
}

.header-title{
    width: 50%;
    display: inline-block;
}
.header-button{
    display: inline-block;
    text-align: center;
    font-family: "Langar", cursive;
    background-color: silver;
    border: slategray 1px solid;
    border-radius: 10px;
}

.button{
    height: 40px;
    width: 40px;
    display: inline-block;
    font-family: "Langar", cursive;
    background-color: silver;
    border: slategray 1px solid;
    border-radius: 50%;
}

.button-wrapper{
    text-align: right;
    display: inline-block;
    width: 50%;
}


                                                /* CURRENT AREA */
section{
    margin-top: 50px;
}

.close-button{
    float: right;
    border-radius: 50%;
    margin: 3% 0 0 0;
}

.current-temperature{
    float: right;
    font-size: 3em;
    margin-right: 10%;
}

.current-image{
    width: 40%;
}

.condition{
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
    background-color: gray;
}

.feature{
    height:1.5em;
    width: 48%;
    display: inline-block;
    color: whitesmoke;
    padding-left: 2%;
}

.feature-content{
    height: 1.5em;
    width: 48%;
    text-align: right;
    display: inline-block;
    color: lawngreen;
    font-size: 0.5em;
    padding-right: 2%;
}



                                                /* FAVORITE AREA */
.favorites{
    width: 90%;
}

.search{
    float: right;
    width: 50%;
    text-align: right;
    display: inline-block;
}

.search-type{
    font-family: "Langar", cursive;
    background-color: whitesmoke;
    border: slategray 1px solid;
}


                                                /* REGULAR BLOCKS */
.regular-temperature{
    font-size: 0.8em;
    margin-left: 5%;
}

.city-image{
    width: 10%;
}

                                                /* MEDIA REQUEST */
@media (min-width: 767px){
    .container{
        width: 45%;
    }
    header{
        width: 95%;
    }
    .favorites{
        width: 95%;
    }
    .search{
        width: 50%;
    }
}


