body{
    font-family: "Langar", cursive;
    text-align-all: center;
    font-size: xx-large;
    background-color: ghostwhite;
}

header{
    font-size: xx-large;
    width: 90%;
    margin: 0 auto;
}

.header-title{
    width: 50%;
    display: inline-block;
}

.button{
    height: 40px;
    width: 40px;
    display: inline-block;
    font-family: "Langar", cursive;
    background-color: darkslategray;
    border-radius: 50%;
}

.header-button{
    display: inline-block;
    text-align: center;
    font-family: "Langar", cursive;
    background-color: darkslategray;
    border-radius: 10px;
}

.button-wrapper{
    text-align: right;
    display: inline-block;
    width: 50%;
}

.close-button{
    float: right;
    border-radius: 50%;
    margin: 3% 0 0 0;
}

section{
    margin-top: 50px;
}

.feature{
    width: 50%;
    background-color: gray;
    display: inline-block;
}

.feature-content{
    width: 50%;
    text-align: right;
    background-color: gray;
    display: inline-block;
    color: yellow;
}

.favorites{
    width: 90%;
}

.search-type{
    font-family: "Langar", cursive;
}

.search{
    float: right;
    width: 50%;
    text-align: right;
    display: inline-block;
}

h1, h2, h3{
    margin: 0;
}

h2{
    display: inline-block;
    width: 45%;
    font-size: 0.9em;
}

ul{
    padding-left: 0;
}

.condition{
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
}

h3{
    display: inline-block;
    font-size: 0.8em;
}

.container{
    width: 90%;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (min-width: 767px){
    .container{
        width: 45%;
    }
    header{
        width: 95%;
    }
    .favorites{
        width: 95%;
    }
    .search{
        width: 50%;
    }
}

.current-temperature{
    float: right;
    font-size: 3em;
    margin-right: 10%;
}

.regular-temperature{
    font-size: 0.8em;
    margin-left: 5%;
}

.current-image{
    width: 40%;
}

.city-image{
    width: 10%;
}

.current-conditions{

}